.vscode/**
.vsixmanifest
.gitignore
.yarn/**
**/*.map
**/*.ts
**/prompt.log
**/.editorconfig
**/.eslintrc.json
**/.prettierrc
**/CHANGELOG.md
**/CONTRIBUTING.md
**/scripts/**
**/install-extension.js
**/install.sh
**/tsconfig.json
**/src/**
**/*.vsix
